body{
  margin-left: 0px;
  margin-left: 0px;
    width: 1520px;
    color:rgb(66, 91, 118);
}
.tutto{
  padding-top: 145px;
}
button{
  background-color: #ff7a59;
  text-align: center;
  height: 65px;
  width: 170px;
border-radius: .1875rem;
transition: 0.3s;
border: none;
color:white;
}
.tasto{
  width: 170px;
}
.bottonescritta{
padding-top: 50px;
  margin-left: 200px;
  height: 100%;
  width: 400px;
}
.bottonescritta h1 {
  color:rgb(66, 91, 118);
  font-size: 50px;
}
.bottonescritta p{
  color:rgb(66, 91, 118);
  font-size: 20px;
}
#testino{
  font-size: 15px;
}
.sezionefissa{
margin-top: -10px;
  position: fixed;
  height: 5px;
  width: 1520px;
  background-color:#E5E5E5;
  padding-bottom: 100px;
  border-bottom: 1px solid black;
  color:rgb(66, 91, 118);

}
.sottofisso{

  height:200px;
  width: 100%;
  background-color: white;
}
.sfondorosa{
  height: 600px;
  width: 100%;
background-image: url(../immagini/sfondo.jpg);
background-size: cover;
border-bottom: 1px solid black;
}
.sfondogrigio{


  height: 1450px;
  width: auto;
background-color:#E5E5E5;
}
.sfondocambia{

  height:1000px;
  width:auto;
  background-image: linear-gradient(45deg, #00A4BD, #00BDA5)
}
.sfondobianco{
  height: 1000px;
  width: auto;
  background-color: white;
}
.footer{
  height: 1000px;
  width: auto;
  background-color: #33475b;
}
#nove{
  float: left;
  margin-left: 200px;
  margin-bottom: 20px;
height: 32px;
}
#quattordici{
  height:200px;
  margin-left: 700px;
  margin-top: 80px;
}
.testosfgrigio{
  color:rgb(66, 91, 118);
  width: 700px;
text-align: center;
margin-left: 420px;
}
#mappamondo
{
  float: left;
  margin-left: 200px;
  margin-top: 30px;
  height: 30px;
  width: 50px;
}
#inglese{
  float: left;
  margin-top: 37px;
  font-size: 18px;

}

.biancogrande{
  background-color: white;
  height: 300px;
  width: 80%;
  margin-left:10%;
  margin-right: 10%;
  margin-top: 80px;
}
.biancopiccolo{
  text-align: center;
  float: left;
  margin-top: 50px;
  height: 550px;
  width: 23%;
  background-color: white;
}
.bianco1{
  margin-left: 10%;
}
.bianco2{
  margin-left: 5.5%;
margin-right: 5.5%;
}
.bianco3{
  margin-right: 10%;
}
#contatti{
  float: left;
  margin-top: -24px;
  margin-left: 70px;
  font-size: 18px;
}
.vl {
  margin-top: 30px;
  margin-left: 350px;
  border-left: 2px solid rgb(66, 91, 118) ;
  height: 30px;
}
#button1{
  margin-top:-50px;
  margin-left: 550px;
  color:#ff7a59;
  background-color: white;
  border: 1px solid #ff7a59;
  height: 50px;
  width: 100px;
}
#button2{
  height: 50px;
  width: 150px;
}
.bottoni{
  height: 5px;
  width: 1520px;
}
.topnav{
  padding-left: 50px;
  list-style-type: square;
        list-style: none;


}
ul#tendina li{
  display: inline;
  margin-left: 30px;

}
ul {
  list-style-type: square;
        list-style: none;
  margin left:150px;

}
#undici{

  height: 180px;
  width: 180px;
  margin-left: 70px;
}
#pulsante{
  margin-left: -150px;
  height: 50px;
  width:120px;
}
.prova{
  float: left;
}
.colore{
  color:rgb(66, 91, 118) ;
}
.classcolor{
  display: inline;
  width: 920px;
}
.tredici{

  height: 150px;
  width: 150px;
}
hr{
  width: 75%;

}
#asinistra{
  text-align: left;
}
.partenza{
  width:150px;
  height:50px;
}
.sfondocambia h1{
  color:white;
}
.dimensionitesto{
  padding-left: 300px;
  text-align: center;
  width:700px;
}
.sfondocambia p{
  color:white;
}
.blocco{
float: left;
  border left:1px solid white;
  border-right: 1px solid white;
  width:250px;
  height: 200px;
}
.blocchi{
  margin-top: 100px;
  margin-left: 250px;
  margin-right: 250px;
}
.bloccosu{
  border-bottom: 1px solid white;
}
.bloccono{
  border-right: 0px;
}
.imgblock{

  padding: 25%;
  padding-top: 0%;
  text-align: center;
}
.numero{
 font-size: 65px;
}
.primaparte{

  width: 100%;
  height: 300px;

}
.omino{
  margin-top: 100px;
  margin-right: 150px;
  height: 450px;
  width:350px;
  float: right;
}
