body{
  margin-left: 0px;
  margin-left: 0px;
    width: 100%;
    color:rgb(66, 91, 118);
    font-family: "AvenirNext","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.tutto{
  padding-top: 90px;
}
button{
  background-color: #ff7a59;
  text-align: center;
  height: 65px;
  width: 170px;
border-radius: .1875rem;
transition: 0.3s;
border: none;
color:white;
}
.tasto{
  width: 170px;
}
.bottonescritta{
padding-top: 50px;
  margin-left: 200px;
  height: 100%;
  width: 400px;
}
.bottonescritta h1 {
  color:rgb(66, 91, 118);
  font-size: 50px;
}
.bottonescritta p{
  color:rgb(66, 91, 118);
  font-size: 20px;
}
#testino{
  font-size: 15px;
}
.sezionefissa{
  top:0;
  position: fixed;
  width: 1520px;
  background-color:#E5E5E5;

  border-bottom: 1px solid black;
  color:rgb(66, 91, 118);

}
.sottofisso{
  width: 100%;
  background-color: white;
  height: 150px;
}
.sfondorosa{
  height: 600px;
  width: 100%;
background-image: url(../immagini/sfondo.jpg);
background-size: cover;
border-bottom: 1px solid black;
}
.sfondogrigio{


  height: 1450px;
  width: auto;
background-color:#E5E5E5;
}
.sfondocambia{

  height:1000px;
  width:auto;
  background-image: linear-gradient(45deg, #00A4BD, #00BDA5)
}
.sfondobianco{
  height: 1000px;
  width: auto;
  background-color: white;
}
footer{
  height: 1000px;
  width: auto;
  background-color: #33475b;
}
#nove{
  float: left;
  margin-left: 200px;
  margin-bottom: 20px;

}
#nove img{
  height: 32px;
}
#quattordici{
  height:200px;
  margin-left: 700px;
  margin-top: 80px;
}
.testosfgrigio{
  color:rgb(66, 91, 118);
  width: 700px;
text-align: center;
margin-left: 420px;
}
#mappamondo
{
  float: left;
  margin-left: 200px;
  margin-top: 30px;
  height: 30px;
  width: 50px;
}
#inglese{
  float: left;
margin-top: 34px;
font-size: 18px;
border-right: 2px solid rgb(66, 91, 118);
padding-right: 20px;

}

.biancogrande{
  background-color: white;
  height: 320px;
  width: 80%;
  margin-left:10%;
  margin-right: 10%;
  margin-top: 80px;
}
.biancopiccolo{
  text-align: center;
  float: left;
  margin-top: 50px;
  height: 550px;
  width: 23%;
  background-color: white;
}
.bianco1{
  margin-left: 10%;
}
.bianco2{
  margin-left: 5.5%;
margin-right: 5.5%;
}
.bianco3{
  margin-right: 10%;
}
#contatti{
  float: left;
      margin-left: 70px;
      font-size: 18px;
      margin-bottom: 0;
      margin-top: 34px;
}
.vl {
  margin-top: 30px;
  margin-left: 350px;
  border-left: 2px solid rgb(66, 91, 118) ;
  height: 30px;
}
#button1{
  color:#ff7a59;
  background-color: white;
  border: 1px solid #ff7a59;
  height: 50px;
  width: 100px;
  margin-right: 15px;
}
#button2{
  height: 50px;
  width: 150px;
}
.fa-search{
  padding-right: 15px;
}
.bottoni{
  float: right;
    margin-right: 200px;
    margin-top: 13px;
}
.topnav{
  padding-left: 50px;
  list-style-type: square;
  list-style: none;
  float: right;
  margin-right: 200px;


}
ul#tendina li{
  display: inline;
  margin-left: 30px;

}
ul#tendina li a{
 color:#33475b;

    text-decoration: unset;

}
ul {
  list-style-type: square;
        list-style: none;
  margin left:150px;

}
#undici{

  height: 180px;
    width: 180px;
    margin: 30px 24%;
}
#pulsante{
  height: 50px;
width: 120px;
margin: 0px 32%;
}
.prova{
  float: left;
      width: 30%;
}
.colore{
  color:rgb(66, 91, 118) ;
}
.classcolor{
  float: left;
      width: 70%;
}
.tredici{

  height: 150px;
  width: 150px;
}
hr{
  width: 75%;

}
#asinistra{
  text-align: left;
}
.partenza{
  width:150px;
  height:50px;
}
.sfondocambia h1{
  color:white;
  margin-top: unset;
padding-top: 30px;

}
.dimensionitesto{
  margin: auto;
  text-align: center;
  width: 700px;
}
.sfondocambia p{
  color:white;
}
ul.lista li{
  display: inline;
}
.lista{
  padding-left: 0px;
}
.blocco{
float: left;
  border left:1px solid white;
  border-right: 1px solid white;
  width:250px;
  height: 200px;
}
.blocchi{
  margin-top: 100px;
  margin-left: 250px;
  margin-right: 250px;
}
.bloccosu{
  border-bottom: 1px solid white;
}
.bloccono{
  border-right: 0px;
}
.imgblock{
  text-align: center;
}
.numero{
 font-size: 65px;
 margin:0;
 text-align: center;
}
.dimpic{
  text-align: center;
}
.primaparte{

  width: 80%;
      height: 300px;
      margin: auto;

}
.omino{
  margin-right: 150px;
  height: 450px;
  width:350px;
  float: right;
}
.ominotesto{
  margin-top: 75px;
  margin-left: 150px;
  width: 450px;
}
#bottomino{
  margin-top: 25px;
  height: 50px;
  width: 150px;
}
.parte1{
  margin-top: 50px;

    float: left;
    height: 100%;
    width: 30%;

}
.parte2{
  display: inline-block;
      float: left;
      width: 70%;
}
.logo{
  margin-top: 50px;
  margin-bottom: -30px;
  padding:30px;
  height:30px;
 width: 130px;
}
.footer1{
  height: 800px;
  width: auto;
}
.footerino{
  margin-top: 90px;
  margin-left: 20px;
  float: left;
  width: 17%;
  height: 80%;
  border: 1px solid white;
}
.init{
  margin-left: 202px;
}
.footerinofondo{
  margin-left: 380px;
  margin-top: 50px;
  border: 1px solid white;
  width:50%;
  height: 100px;
}
footer{
  color:white;
}
.bottobianco{
  background-color: white;

}
